.text-editor {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px;
  column-gap: 32px;
  row-gap: 32px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.toolbar-selects {
  column-gap: 16px;
  display: flex;
  flex-wrap: wrap;
}

.toolbar-buttons {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;
  row-gap: 16px;
}

.buttons {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;
}

#editor {
  width: 98.5%;
  border: 2px solid rgb(161, 255, 20);
  border-radius: 8px;
  height: calc(100vh - 250px);
  padding: 16px;
  outline: none;
  caret-color: rgb(161, 255, 20);
  color: white;
  font-size: 25px;
  overflow-y: auto;
}

/* heading */

.heading-dropdown {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #282c34;
  cursor: pointer;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.heading-dropdown option {
  background-color: #282c34;
  color: #ffffff;
}

.heading-dropdown:hover {
  border: 1px solid #007bff;
}

.heading-dropdown:focus {
  border: 1px solid #007bff;
}


.action-buttons{
 border: 2px solid rgb(161, 255, 20);
 border-radius: 8px;
 height: 54px;
 width: 54px;
 background-color: #212121;
 cursor: pointer;
}

.action-selects {
  border: 2px solid rgb(161, 255, 20);
  border-radius: 8px;
  height: 35px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 54px;
  background-color: #212121;
  color: white;
  width: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
 }

 .codeview{
  width: 98.5%;
        height: calc(100vh - 250px);
        padding: 10px;
        border: 2px solid rgb(161, 255, 20);
        font-family:monospace;
        font-size: 24px;
        background-color: #2d2d2d;
        color: #ffffff;
        line-height: 1.5;
        white-space: pre;
        overflow: auto;
        caret-color: rgb(161, 255, 20);
        outline: none;
        resize: none;
        border-radius: 8px;
 }